@import '../../styles/base.scss';

#card {
  background-color: $white;
  height: 95vh;
  width: 50vw;
  position: relative;
  top: 6rem;
  margin: 0 auto;
  box-shadow: $shadow;
}
#banner {
  background-color: rgb(193, 207, 207);
  position: relative;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.detail {
  width: 2rem;
  height: 2rem;
  margin: 0 2rem;
  border-radius: 50%;
  background-color: $bannerDetailsColor;
  color: $white;
  text-align: center;
  line-height: 1.8rem;
  position: relative;
  top: 40%;
  &:hover {
    background-color: rgb(8, 54, 54);
    cursor: pointer;
  }
}
.linking-bar1 {
  position: absolute;
  top: 54%;
  left: 21.7rem;
  width: 4.3rem;
  height: 0.2rem;
  background-color: $bannerDetailsColor;
  margin: 0;
}
.linking-bar2 {
  position: absolute;
  top: 54%;
  left: 27.7rem;
  width: 4.3rem;
  height: 0.2rem;
  background-color: $bannerDetailsColor;
  margin: 0;
}
.MuiSvgIcon-root.arrow-icon {
  font-size: 90px;
  position: relative;
  top: 0.8rem;
  left: 0.5rem;
}
