@import 'styles/base';

.App {
  margin: 0 auto;
  &-header {
    &-logo {
      max-width: 80px;
    }
  }
  &-content {
    padding: 1rem 4rem;
    h3 {
      color: $primary-color;
    }
    p {
      color: $secondary-color;
    }
  }
}
// Shared
figure {
  margin: 0 auto;
}
.password-manager {
  font-size: 1.55rem;
  font-weight: 900;
}
.header {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
article {
  margin-top: 3rem;
  line-height: 1rem;
  color: $secondary-color;
}
// Buttons
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 7rem;
  width: 44vw;
}
.buttons-container-step1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 3rem;
  position: relative;
}
.cancel-button {
  border-style: none;
  font-weight: bold;
  cursor: pointer;
}
.next-button {
  background-color: $secondary-color;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: $white;
}
.disabled-button {
  background-color: #506775;
  padding: 0.5rem 1.5rem;
  cursor: not-allowed;
  color: $white;
}
.finish-button {
  border-style: none;
  background-color: $white;
  position: relative;
  left: 40%;
  color: $primary-color;
  top: 3rem;
  cursor: pointer;
  font-weight: bold;
}
// .access-button {
//   position: relative;
//   left: 80%;
// }

// inputs
input {
  padding: 0.8rem 0.6rem;
  width: 250px;
  margin: 0 40px 0 0;
  float: left;
}
.steps-container {
  padding: 1em 4rem;
  height: 95vh;
}

// Media queries
@media only screen and (min-width: 300px) and (max-width: 860px) {
  .App {
    &-header {
      &-logo {
        max-width: 10px;
      }
    }
    &-content {
      padding: 1rem 4rem;
      h3 {
        color: $primary-color;
      }
      p {
        color: $secondary-color;
      }
    }
  }
  // Shared

  .steps-container {
    padding: 1em 4rem;
  }
  .password-manager {
    font-size: 1.2rem;
    font-weight: 900;
  }
  .header {
    font-weight: 900;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  article {
    margin-top: 1rem;
    line-height: 1rem;
    color: $secondary-color;
  }
  // Buttons
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 150px;
  }

  .buttons-container-step1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 3rem;
    position: relative;
  }

  .cancel-button {
    border-style: none;
    font-weight: bold;
    cursor: pointer;
  }
  .next-button {
    background-color: $secondary-color;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    color: $white;
  }

  // inputs
  input {
    padding: 0.6rem 0.6rem;
    width: 11rem;
    margin: 0 2px 0 0;
  }
}

// Break point 2
@media only screen and (min-width: 860px) and (max-width: 1260px) {
  // Buttons
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 150px;
  }
}
