#hint-input {
  width: 100%;
}
#inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
.length-counter {
  text-align: right;
}
.block {
  display: flex;
  flex-direction: column;
}
.hint-info-container {
  display: flex;
  flex-direction: row;
}

.info-icon {
  position: relative;
  left: 0.2rem;
}
