#hint-input {
  width: 100%;
}
#inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
.length-counter {
  text-align: right;
}
.block {
  display: flex;
  flex-direction: column;
}
